'.source.hxml':
  'editor':
    'completions': [
      '-cp'
      '-js'
      'as3'
      '-swf'
      '-swf9'
      '-swf-version'
      '-swf-header'
      '-swf-lib'
      '-neko'
      '-php'
      '-x'
      '-xml'
      '-main'
      '-lib'
      '-D'
      '-resource'
      '-exclude'
      '-v'
      '-debug'
      '-prompt'
      '-cmd'
      '--flash-strict'
      '--no-traces'
      '--flash-use-stage'
      '--neko-source'
      '--gen-hx-classes'
      '--next'
      '--display'
      '--no-output'
      '--times'
      '--no-inline'
      '--php-front'
      '--remap'
      '-help'
      '--help'
    ]
